/*========================================================          =======================================================*/
/*=======================================================   Global   ======================================================*/
/*========================================================          =======================================================*/

html {
    font-size: 16px;
    font-family: MaisonNeueBook, Helvetica, Arial, sans-serif;
    color: #2846B0;
}

.main-container {
    max-width: 90rem;
    margin: 0 auto;
}

/*========================================================                 =======================================================*/
/*=======================================================   Media Queries   ======================================================*/
/*========================================================                 =======================================================*/


/*=======================================================   Header - TV View    ======================================================*/

@media only screen and (min-width: 68.75rem) {  /* Nav expands for better UX on screens 1,100px and wider */


    header nav {
        width: clamp(34.625rem, 44.3125rem, 44.3125rem);
        padding-right: 1.25rem;
    }

    header nav img {
        display: none;
    }

    
}

/*=======================================================   Header - Desktop View    ======================================================*/

@media only screen and (min-width: 61.9375rem) and (max-width: 68.6875rem) {  /* Hamburger Nav disapears, replaced by reg. Nav at 991px and above */
    header nav {                                                                
        width: 34.625rem;
        padding-right: 1.25rem;
    }

    /* Mobile Hamburger Link */
    header nav img {
        display: none;
    }
}

/*=======================================================   General Desktop Styling    ======================================================*/

@media only screen and (min-width: 61.9375rem) {

    /*==========================   Search   ==========================*/

    .search {
        position: relative;
        width: 13.75rem;
    }

    .search .search-icon {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%,-50%);
        color: #2846B0
        
    }

    .search-input {
        width: 100%;
        height: 3rem;
        border: 0.0625rem solid #2846B0;
        border-radius: 0.3125rem;
        padding: 0.625rem;
        padding-left: 25%;
        font-size: 1.25rem;
    }

    /*==========================   Who We Are   ==========================*/
    
    .who-we-are {
        width: 51%;
        margin: 0 auto;
        color: #fff;
        padding-top: 5%;
    }


    .who-we-are .navbar {
        width: 100%;
    }
    
    /*==========================   Feature Cards   ==========================*/
    
    .feature-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5% 6%;
        gap: 3.75rem 0.625rem;
    }
    
    .feature-cards article {
        max-width: 25.8125rem;
        min-width: 17.125rem;
    }
    
    .feature-cards article figure {
        display: flex;
        justify-content: space-around;
    }
    
    .feature-cards article figcaption {
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }
    
    .feature-cards article figcaption h3 {
        font-size: 1.5rem;
    }

    /*==========================   Footer   ==========================*/

    footer .footer-container-mob {  /* Mobile View - Removes mobile styling for footer */
        display: none;
    }

    footer {
        background-color: #0044b4;
        color: #fff;
        margin-top: 3%;
        min-height: 13.4375rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .footer-container {
        width: 90%;
        padding-top: 2%;
    }

    footer .footer-contact {
        display: flex;
        align-items: center;
    }

    footer .footer-contact, footer .footer-logo {
        display: flex;
        justify-content: space-between;
    }


    

}

/*=======================================================  320px < Devices > 990px    ======================================================*/

@media only screen and (min-width: 20rem) and (max-width: 61.875rem){   /* Styling for devices with widths between 320px and 990px */

    /*==========================   Header   ==========================*/

    header {
        display: flex;
        justify-content: space-between;
        margin: 0 2%;
        padding: 0;
    }

    header nav {
        display: flex;
        justify-content: flex-end;
    }

    header nav ul, header nav ul a, header form {
        display: none;
    }

    header nav .search-sm {
        margin-right: 20%;
    }

    /*==========================   Who We Are   ==========================*/
    
    .who-we-are {
        width: 95%;
        margin: 0 auto;
        color: #fff;
        padding-top: 5%;
    }


    .who-we-are .navbar {
        width: 100%;
    }

    .who-we-are .about-us article h2 {
        margin-bottom: 3%;
    }

    .who-we-are .about-us article p {
        width: 88%;
    }

    /*==========================   Features   ==========================*/

    .feature-cards, .leadership-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .feature-cards article {
        margin-top: 5%;
    }

    .feature-cards article, .feature-cards article figcaption {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }

    .feature-cards article figcaption h3 {
        font-size: 1.5rem;
        margin: 0;
    }

    /*==========================   Leadership   ==========================*/

    .leadership {
        margin-bottom: 5%;
    }

    .leadership-container img {
        width: 17.5rem;
    }

    /*==========================   Footer   ==========================*/

    footer .footer-container { /* Removes Desktop View footer container */
        display: none;
    }

    footer {
        background-color: #0044b4;
        display: flex;
        justify-content: center;
    }

    footer .footer-logo {
        margin-top: 10%;
    }

    footer .footer-logo img {
        margin-bottom: 7%;
    }

    footer .footer-logo, .footer-contact {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .footer-contact {
        margin-bottom: 10%;
    }

    footer .footer-contact ul {
        width: 100%;
    }

}


/*========================================================                  =======================================================*/
/*=======================================================   General Styling   ======================================================*/
/*========================================================                  =======================================================*/

/*==========================   Header   ==========================*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    height: 6.5625rem;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header nav a {
    text-decoration: none;
    color: #2846B0;
}

/*==========================   Carousel   ==========================*/

.slide-wrapper {
    position: relative;
    max-height: 40.5625rem;
    width: 100%;
    margin: 0 auto;
}

.slider {
    display: flex;
    overflow-x: auto;                   
    scroll-snap-type: x mandatory;       
                                       
    scrollbar-width: none;              
    scroll-behavior: smooth;            
}

.slider img {
    opacity: 0.92;
    filter: brightness(80%);
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    transition: opacity ease 250ms;
}

.slider-nav a:active {
    transform: scale(2);
    background-color: transparent;
    border: 0.0625rem solid #fff;
}

.inner-slide {
    position: absolute;
    max-width: 36.9rem;
    z-index: 1;
    color: #fff;
    top: 50%;
    left: 5%;
    transform: translate(0,-50%);
}

.inner-slide h1 {
    font-size: 3.75rem;
    margin: 0;
}

.inner-slide p {
    font-size: 1.5rem;
    margin: 2% 0 6% 0;
}

.inner-slide button {
    padding: 0.9375rem 1.25rem;
    font-size: 1.125rem;
    color: #2846B0;
    border-radius: 0.5rem;
    border: none;
}

.inner-slide button:hover {
    background-color: #2846B0;
    color: #fff;
    cursor: pointer;
}

/*==========================   About Us   ==========================*/

.about {
    background-image: url(.././Images/bluescope-wave.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 30rem;
}

.about-us {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.about-us article {
    flex: 1 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-us article h2 {
    font-size: 2.125rem;
    line-height: 2.5625rem;
    margin-bottom: 2%;
}

.about-us article p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: center;
    margin-top: 0;
}

.about-us button {
    padding: 0.9375rem 2.5rem;
    font-size: 1.125rem;
    color: #2846B0;
    border-radius: 0.5rem;
    border: none;
}

.about-us button:hover {
    background-color: transparent;
    color: #fff;
    outline: 0.0625rem solid #fff;
    cursor: pointer;
}

/*==========================   Who We Are   ==========================*/

.who-we-are .navbar .nav-about {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    border-bottom: 0.0625rem solid #fff;
    margin-bottom: 0
}

.who-we-are .navbar .nav-about li {
    padding-bottom: 0.9375rem;
}

.who-we-are .nav-about a, .who-we-are .nav-about li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.who-we-are .nav-about a:hover {
    color: #79D1E4;
    padding-bottom: 0.875rem;
    border-bottom: 0.25rem solid #79D1E4;
}


/*==========================   Leadership Banner   ==========================*/

.leader-banner {
    width: 100%;
    min-height: 21.5rem;
    background-image: url(.././Images/bluescope-wave.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0;
}

.leader-banner h2, .leader-banner p {
    color: #fff;
    margin: 0;
    margin-left: 8%;
}

.leader-banner h2 {
    font-size: 3.75rem;
    font-size: clamp(2.25rem, 3.75rem, 3.75rem);
    margin-bottom: 1.25rem;
}

.leader-banner p {
    font-size: 1.5rem;
}

.leader-banner h2 .blue {
    color: #79D1E4;
}

/*==========================   Leadership   ==========================*/

.leadership-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: center;
}

.leadership-container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leadership-container img {
    max-width: 17.125rem;
    min-width: 12.125rem;
}

.leadership-container h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #0044b4;
    line-height: 1.8125rem;
}

.leadership-container p {
    line-height: 1.5rem;
    margin: 0;
    padding: 0.5rem 0;
}

.leadership-container article button a {
    color: #fff;
    text-decoration: none;
}

.leadership-container article button {
    background-color: #0044b4;
    border: 0.0625rem solid #0044b4;
    border-radius: 0.375rem;
    font-size: 1.125rem;
    padding: 0.625rem 2rem;
    margin-top: 1rem;
}

.leadership-container article button:hover {
    background-color: #1D3279;
    cursor: pointer;
}


/*==========================   Footer   ==========================*/

footer .footer-logo button {
    background: transparent;
    border: none;
}


footer .footer-contact .button-container {
    display: flex;
    justify-content: flex-end;
}

footer .footer-contact button:hover, footer .footer-logo img:hover {
    cursor: pointer;
}

footer .footer-contact ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

footer .footer-contact ul a, footer .footer-contact p {
    color: #fff;
    font-size: 0.71875rem;
    text-decoration: none;
}

footer .footer-contact ul li {
    list-style: none;
    padding: 0.625rem;
}
